<app-create-content (newContentEmitter)="addNewContent($event)"></app-create-content><br>
<span *ngIf="addContentError" style="color:red">Error adding content!</span><br>

<input [(ngModel)]="searchText" /><button (click)="search()">search</button>

<app-content-card
  *ngFor="let content of (list | contentType: 'Dad joke'); let first = first; let last = last"
  [ngClass]="{ first: first, last: last }"
  [content]="content"
  title="{{content.title}}"
  appHoverTerminalContent
  class="dadJokeContentCard"></app-content-card>

<app-content-card
  *ngFor="let content of (list | contentType: 'Clothing'); let first = first; let last = last"
  [ngClass]="{ first: first, last: last }"
  [content]="content"
  title="{{content.title}}"
  appHoverTerminalContent
  class="clothingContentCard"></app-content-card>

<app-content-card
  *ngFor="let content of (list | contentType: 'None'); let first = first; let last = last"
  [ngClass]="{ first: first, last: last }"
  [content]="content"
  title="{{content.title}}"
  appHoverTerminalContent></app-content-card>
